<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Workout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Create Workout</h1>
        <form id="workoutForm">
            <div class="form-group">
                <label for="name">Workout Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" class="form-control" id="type" name="type" required>
            </div>
            <div class="form-group">
                <label for="duration">Duration (minutes):</label>
                <input type="number" class="form-control" id="duration" name="duration" required>
            </div>
            <div class="form-group">
                <label for="calories_burned">Calories Burned:</label>
                <input type="number" class="form-control" id="calories_burned" name="calories_burned" required>
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>

            <div id="exerciseFields">
                <h3>Exercises:</h3>

            </div>

            <button type="button" class="btn btn-primary" id="addRepBtn">Add Exercise</button>
            <button type="button" class="btn btn-primary" id="addTimeBtn">Add Exercise</button>

            <br><br>

            <button type="submit" class="btn btn-success">Create Workout</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#addRepBtn').click(function() {
                var exerciseFields = `
                    <div class="form-group">
                        <label>Exercise Name:</label>
                        <input type="text" class="form-control exercise_name" required>
                    </div>
                    <div class="form-group">
                        <label>Reps:</label>
                        <input type="number" class="form-control exercise_rep" required>
                    </div>
                    <div class="form-group">
                        <label>Weight:</label>
                        <input type="number" class="form-control exercise_weight" required>
                    </div>
                    <input type="hidden" class="form-control exercise_duration" required>
                    <input type="hidden" step="0.01" class="form-control exercise_distance" required>
                    <button type="button" class="btn btn-danger remove-exercise-btn btn-remove-exercise">Remove</button>
                `;
                $('#exerciseFields').append(exerciseFields);
            });

            $('#addTimeBtn').click(function() {
                var exerciseFields = `
                    <div class="form-group">
                        <label>Exercise Name:</label>
                        <input type="text" class="form-control exercise_name" required>
                    </div>
                    <div class="form-group">
                        <label>Duration (minutes):</label>
                        <input type="number" class="form-control exercise_duration" required>
                    </div>
                    <div class="form-group">
                        <label>Distance:</label>
                        <input type="number" step="0.01" class="form-control exercise_distance" required>
                    </div>
                    <input type="hidden" class="form-control exercise_weight" required>
                    <input type="hidden" class="form-control exercise_rep" required>
                    <button type="button" class="btn btn-danger remove-exercise-btn btn-remove-exercise">Remove</button>
                `;
                $('#exerciseFields').append(exerciseFields);
            });

            $(document).on("click", ".remove-exercise-btn", function() {
                $(this).prev().remove();
                $(this).prev().remove();
                $(this).prev().remove();
                $(this).prev().remove();
                $(this).prev().remove();
                $(this).remove();
            });

            $('#workoutForm').submit(function(event) {
                event.preventDefault();
                var form = $(this);
                var url = 'http://fitnesstrack.pythonanywhere.com/api/workout'; // Replace with your actual API URL

                var data =
                {
                    name: $("#name").val(),
                    type: $("#type").val(),
                    duration: $("#duration").val(),
                    calories_burned: $("#calories_burned").val(),
                    date: $("#date").val(),
                    exercises: []
                }
                for (let i = 0; i < $(".exercise_name").length; i++) {
                    var exercise =
                    {
                        name: $($(".exercise_name")[i]).val(),
                        rep: $($(".exercise_rep")[i]).val(),
                        weight: $($(".exercise_weight")[i]).val(),
                        duration: $($(".exercise_duration")[i]).val(),
                        distance: $($(".exercise_distance")[i]).val(),
                    }
                    data.exercises.push(exercise);
                }
                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(response) {
                        alert('Workout created successfully!');
                        $(location).attr('href', 'http://fitnesstrack.pythonanywhere.com/');
                    },
                    error: function(error) {
                        // Handle error response
                        console.log(error);
                        alert('Failed to create workout!');
                    }
                });
            });
        });
    </script>
</body>
</html>
