<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fitness App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        {% for workout in workout_list %}
            <div class="workouts">
                <div class="name">
                    <p>Name - {{ workout.name }}</p>
                </div>
           <!-- <form action="/api/Workout/{{ workout.id }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete"
    </form>-->
    <a href="/edit/{{ workout.id }}">Edit</a>>
                <div class="calories">
                    <p>Calories - {{ workout.calories_burned }}</p>
                </div>
                <div class="type">
                    <p>Type - {{ workout.type }}</p>
                </div>
                <div class="duration">
                    <p>Duration - {{ workout.duration }}</p>
                </div>
                <div class="date">
                    <p>Date - {{ workout.date }}</p>
                </div>
                <div class="exercises">

                    {% for exercise in workout.exercises %}
                            <p>Name {{ exercise.name }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}



    </main>
</body>
</html>