* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.workouts {
    width: 940px;
    margin: auto;
    display: grid;
    grid-template-rows: 30px 40px 40px;
    grid-template-columns: 300px 300px 300px 40px;
    .name { grid-area: 1 / 1 / 2 / 2; }
    .calories { grid-area: 1 / 2 / 2 / 3; }
    .type { grid-area: 1 / 3 / 2 / 4; }
    .duration { grid-area: 2 / 1 / 3 / 2; }
    .date { grid-area: 2 / 2 / 3 / 3; }
    .exercises { grid-area: 3 / 1 / 4 / 4; }
}